@charset "utf-8";

/* 슬라이더 */

#slider {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    position: relative;
    background-position: center;
    background-size: cover;
}

#slider img {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 60%;
}

.slider_title {
    width: 766px;
    height: 500px;
    margin: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.slider_pagenation {
    width: 176px;
    height: 40px;
    position: absolute;
    bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* info_list */

.info_list{
    width:100%;
    height:1250px;
    display:flex; 
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.info_list_title{
    width: 1140px; height:250px;
    display:flex; flex-direction:column;
    justify-content: space-around; align-items:center;
}

.info_list_title_headline{width: 920px; height:76px;
 text-align:center;
font-family: 'Tangerine';
font-size: 70px;
color: #f2D6A4;
font-weight: bold;
margin-bottom: -60px;
}

.info_list_title_title{width: 920px; height:60px;
 text-align:center;
font-size: 32px; color:white;
}

.info_list_title_text{width: 920px; height:50px;
 text-align:center;
font-family: 'Sejong hospital Light';
font-size:18px; color: #ffffffb3;
;

}
.info_list_detail{
    width:1140px; height:916px;
    display:flex; flex-wrap:wrap;
}

.info_list_detail_page{width:570px; height:458px;
background-color:#454545; 
display:flex; flex-direction:column; justify-content:space-between;
align-items:center; padding: 40px;}

.info_list_detail_page_title{width:540px; height:34px; }

.info_list_detail_page_title_name{width:230px; height:34px; 
 display:flex; align-items:center; color:white;
font-size:24px; letter-spacing: 1px;
}

.info_list_detail_page_list{width: 540px; height: 282px;
display: flex; flex-direction:column;
justify-content: space-around;}

.info_list_detail_page_list_number{width: 540px; height: 60px;
display:flex; justify-content: space-between;}

.info_list_detail_page_list_number_image{width:60px; height:60px;}
.info_list_detail_page_list_number_image img{width:100%; height:100%;border-radius:50%;}
.info_list_detail_page_list_number_textpage{width:466px; height:60px; 
 display:flex; flex-direction:column; justify-content: space-between;}
.info_list_detail_page_list_number_textpage_name{width:466px; height:33px;
 font-family:'Tangerine'; font-size:22px; color:white;
 border-bottom:1px dashed #f2D6A4;}
.info_list_detail_page_list_number_textpage_text{width:466px; height:24px;
    font-family: 'Sejong hospital Light'; font-size: 14px;
    color:#ffffffb3;}

    /* Best_page */

    .best_section{width:100%; height:1200px;
    background-color:white; display:flex; justify-content:center;}

    .best{width:1140px; height:1200px;
    background-color:gray; display:flex; 
justify-content: space-between; flex-direction:column;}

    .best_swichi{width:1140px; height:50px;
    background-color:aquamarine; display:flex;
justify-content:center;}

    .best_swichi_button{width:120px; height:50px;
    background-color:beige;}

    .best_list{width:1140px; height:1132px;
    background-color:aquamarine; display:flex;
flex-wrap:wrap;}

    .best_list_page{width:380px; height: 566px;
    background-color:orange;display:flex;
flex-direction:column; align-items:center;}

    .best_list_page_img {width:380px; height:270px;
    background-color:white;}

    .best_list_page_name{width:380px;height:45px;
    background-color:red;
margin-top:20px;}

    .best_list_page_text{width:380px;height:50px;
    background-color:yellow;
margin-top:20px;}

    .best_list_page_sub{width:380px;height:45px;
    background-color:green;
margin-top:12px;}

    .best_list_page_button{width:100px;height:40px;
    background-color:blue;
margin-top:30px;}