@charset "utf-8";

/* 슬라이더 */

#slider {
    width: 100%;
    height: 785px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    position: relative;
    background-position: center;
    background-size: cover;
}

#slider img{
    width:100%;
    height:100%;
    position:relative;
}

.slider_title {
    width: 766px;
    height: 500px;
    margin: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
position: absolute;
}

.slider_pagenation {
    width: 176px;
    height: 40px;
    position: absolute;
    bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.slider_pagenation_button{
    width:40px;
    height:40px;
    background-color:white;
    border-radius: 100%;
}

.slider_title_main {
    width: 728px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.slider_title_first {
    width: 95px;
    height: 38px;
    background-color: red;
    
}

.slider_title_headline {
    width: 728px;
    height: 120px;
    margin-top: 16px;
    font-size: 64px;
    text-align: center;
    color:white;
    text-justify:auto;

    
}

.slider_title_text {
    width: 728px;
    height: 53px;
    margin-top: 38px;
    font-size: 18px;
    text-align: center;
    color:white;
}

.slider_title_button {
    width: 255px;
    height: 54px;
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider_title_button button{
        width: 118px;
    height: 53px;
    background-color: #F2D6A5;
color:#454545;
border:none;
}

    .slider_title_button button:hover{
        background-color: transparent;
        color:#F2D6A5;
        border:none;
        cursor: pointer;
        transition: 0.5s;
        border: 1px solid #F2D6A5;
    }
    .slider_title_button button:nth-last-child(1){
        background-color: transparent;
        color:white;
        border:1px solid white;
    }
    .slider_title_button button:nth-last-child(1):hover{
        background-color: #F2D6A5;
        color:#454545;
        border:none;
        cursor: pointer;
        transition: 0.5s;
        
    }
/* reservation page */

#reservation_page {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position:relative;
}

.slider_sub {
    width: 913px;
    height: 84px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.slide_sub_location {
    width: 264px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider_sub_icon {
    width: 40px;
    height: 84px;
    background-color: yellow;
}

.slide_sub_title {
    width: 264px;
    height: 22px;
    color: white;
}

.slide_sub_text {
    width: 264px;
    height: 54px;
    color:#ffffffb3;
}

.slider_reservation {
    width: 666px;
    height: 296px;
    background-color: #F2D6A5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slider_reservation_layout {
    width: 618px;
    height: 239px;
}

.slider_reservation_layout_title {
    width: 618px;
    height: 22px;
}

.slider_reservation_layout_location1 {
    width: 618px;
    height: 74px;
    background-color: #F2D6A5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider_reservation_layout_location1_item {
    width: 297px;
    height: 58px;

}

.slider_reservation_layout_location2 {
    width: 618px;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider_reservation_layout_location2_item {
    width: 190px;
    height: 58px;

}

.slider_reservation_layout_location3 {
    width: 618px;
    height: 69px;
    background-color: #F2D6A5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider_reservation_layout_location3_item {
    width: 297px;
    height: 53px;
}

.slider_reservation_layout_location3_item button{
    width: 297px;
    height: 53px;
    background-color:white;
    border:none;
    letter-spacing: 2px;
}

.slider_reservation_layout_location3_item button:hover{
    transition:0.5s;
    background-color:black;
    color:white;
    cursor:pointer;
}

/* section_1 */

.section_1 {
    width: 100%;
    height: 671px;
    display: flex;
}

.section1_image_page {
    width: 50%;
    height: 671px;
    background-position: center;
    background-size: cover;
}

.section1_image_page img{
    width:100%;
    height:100%;

}

.section1_text_page {
    width: 50%;
    height: 671px;
    display: flex;
    align-content: center;
    align-items: center;
}

.section1_text_page_title {
    width: 759px;
    height: 367px;
    background-color: #454545;
    margin-left: -177px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 90%;
}

.section1_text_page_title_title {
    width: 679px;
    height: 85px;
    font-size: 40px;
    color:white;
}

.section1_text_page_title_title_title{width:679px; height:50px;
background-color: green}

.section1_text_page_title_title_headline{width:679px; height:56px;
}

.section1_text_page_title_text {
    width: 679px;
    height: 162px;
    background-color: yellowgreen;
    margin-top: 37px;
    color:#ffffffb3;
}

/* section_2 */

.section_2 {
    width: 100%;
    height: 524px;
    background-color: #f2D6A4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section2_main_group {
    width: 1140px;
    height: 314px;
    display: flex;
}

.section2_main_group_location {
    width: 380px;
    height: 314px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.section2_main_group_icon {
    width: 100px;
    height: 100px;
border: 3px solid white;
}

.section2_main_group_text {
    width: 350px;
    height: 156px;
    margin-top: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.section2_main_group_text_name{width:350px; height:35px;
 text-align:center;
font-size:20px;}
.section2_main_group_text_text{width:350px; height:81px;
 text-align:center;
font-size:14px; margin-top: 8px;}


/* section_3 */

.section_3 {
    width: 100%;
    height: 508px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.section3_main_page {
    width: 1140px;
    height: 508px;
    display: flex;
    align-content: center;
    align-items: center;
}

.section3_text_page {
    width: 570px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3_text_page_headline {
    width: 507px;
    height: 50px;
    background-color: red;
}

.section3_text_page_title {
    width: 507px;
    height: 56px;
font-size: 42px;
color:#ffffffb3;
}

.section3_text_page_text {
    width: 507px;
    height: 108px;
    margin-top: 13px;
    text-align:end;
    font-size: 20px;
    color:white;
    line-height: 30px;
}

.section3_text_page_button {
    width: 507px;
    height: 53px;
    margin-top: 15px;
    display:flex;
    justify-content:end;
}

.section3_text_page_button button{
    width: 150px;
    border:2px solid #F2D6A5;
    font-size: 16px;
color: #F2D6A5;
background-color: transparent;
}

.section3_capture_page {
    width: 570px;
    height: 508px;
    display: flex;
    flex-wrap: wrap;
}

.section3_capture_page_layout1 {
    width: 285px;
    height: 254px;
    display: flex;
    justify-content: center;
}

.section3_capture_page_layout2 {
    width: 285px;
    height: 254px;
    display: flex;
    align-items: flex-end;
}

.section3_capture_page_layout3 {
    width: 285px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section3_capture_page_layout4 {
    width: 285px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section3_capture_page_layout_caption {
    width: 242px;
    height: 208px;
    background-color: white;
}
.section3_capture_page_layout_caption img{
    width:100%;
    height:100%;
}

/* section_4 */

.section_4 {
    width: 100%;
    height: 389px;
    background-color: #adadad;
    ;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section4_main {
    width: 950px;
    height: 180px;
    background-color: purple;
}

.section4_main_layout {
    width: 237.5px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4_main_page {
    width: 116px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section4_main_page_icon {
    width: 80px;
    height: 80px;
    background-color: #f2D6A4;
}

.section4_main_page_number {
    width: 200px;
    height: 43px;
    margin-top: 21px;
    text-align:center;
    font-size:34px;
}

.section4_main_page_text {
    width: 116px;
    height: 25px;
    text-align:center;
font-size: 19px;
}

/* section_5 */

.section_5 {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5_title {
    width: 1140px;
    height: 195px;
}

.section5_title_headline {
    width: 1140px;
    height: 50px;
    background-color: red;
}

.section5_title_title {
    width: 1140px;
    height: 56px;
    margin-top: 13px;
    font-size:38px;
    color: white;
}

.section5_title_text {
    width: 1140px;
    height: 54px;
    margin-top: 15px;
    font-size:20px;
    color:#ffffffb3;
}

.person_page {
    width: 1140px;
    height: 715px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.person_list {
    width: 200px;
    height: 321px;
}

.person_list_image {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}

.person_list_head {
    width: 200px;
    height: 19.61px;
    background-color: black;
    margin-top: 12px;
}

.person_list_job {
    width: 200px;
    height: 42.35px;
    background-color: grey;
}

.person_list_link {
    width: 200px;
    height: 25.1px;
    background-color: black;
    margin-top: 11px;
}

.person_slide_page {
    width: 100%;
    height: 300px;
    background: gray;
    display: flex;
    flex-direction: row;
}

.person_slide_picture {
    width: 476px;
    height: 300px;
}

.person_slide_picture img{
    width:100%;
    height:100%;
    position:relative;
}

/* section_6 */

.section_6 {
    width: 100%;
    height: 626px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_6 img{
    width:100%;
    height:100%;
    position:absolute;
}

.section6_title_page {
    width: 665px;
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.section6_title_page_headline {
    width: 636px;
    height: 50px;
    background-color: red;
    margin-top: 6px;
}

.section6_title_page_title {
    width: 636px;
    height: 56px;
    margin-top: 7px;
    font-size:38px;
    text-align:center;
    color:white;
}

.section6_title_page_text {
    width: 636px;
    height: 54px;
    margin-top: 4px;
    font-size:20px;
    text-align:center;
    color:#ffffffb3;
}

.section6_community {
    width: 100%;
    height: 389px;
    background-color: #454545;
    display: flex;
    position:relative;
}

.section6_community_list {
    width: 20%;
    height: 389px;
    background-color: aquamarine;
    border: 2px solid #454545;
    display: flex;
    align-items: flex-end;
}

.section6_community_list_user {
    width: 384px;
    height: 215px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.section6_community_list_user_text {
    width: 320px;
    height: 100px;
    background-color: #adadad
}

.section6_community_list_user_sub {
    width: 320px;
    height: 48px;
    background-color: gray;
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.section6_community_list_user_sub_cap {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    margin-left: 10px;
}

.section6_community_list_user_sub_cap img{
width:40px; height:40px;
border-radius: 100%;
}

.section6_community_list_user_sub_text {
    width: 110px;
    height: 48px;
    background-color: snow;
    margin-left: 10px;
}

.section6_community_list_user_sub_text_name{width:84px; height:22px;}
.section6_community_list_user_sub_text_name_sub{width:110px; height:22px;}


/* section_7 */


.section_7 {
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
    position:relative;
    background-color:#454545
}

.section7_main_page {
    width: 1140px;
    height: 708px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section7_title {
    width: 635px;
    height: 116px;
}

.section7_title_title {
    width: 635px;
    height: 56px;
    font-size:38px;
    text-align:center;
    color:white;
}

.section7_title_text {
    width: 635px;
    height: 54px;
    margin-top: 5px;
    text-align:center;
font-size:24px;
color:#ffffffb3;
}

.section7_page {
    width: 1140px;
    height: 494px;
    display: flex;
}

.section7_page_location {
    width: 380px;
    height: 494px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section7_page_location_image {
    width: 350px;
    height: 270px;
    background-color: gray;
}

.section7_page_location_image img{
    width:100%;
    height:100%;
}

.section7_page_location_info {
    width: 350px;
    height: 194px;
    display: flex;
    flex-direction: column;
}

.section7_page_location_info_date {
    width: 350px;
    height: 27px;
    margin-top: 27px;
    color:#ffffffb3;
}

.section7_page_location_info_title {
    width: 350px;
    height: 25px;
    margin-top: 15px;
    color:#ffffffb3;
}

.section7_page_location_info_text {
    width: 350px;
    height: 120px;
    margin-top: 13px;
    color:#ffffffb3;
}

/* section_8 */

.section_8 {
    width: 100%;
    height: 605px;
    display: flex;
    align-content: center;
    align-items: center;
}

.section8_image_page {
    width: 50%;
    height: 540px;
}

.section8_image_page img{
    width:100%;
    height:100%;
}

.section8_title_page {
    width: 50%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section8_title_list {
    width: 658px;
    height: 256px;
}

.section8_title_list_title {
    width: 658px;
    height: 39px;
}

.section8_title_list_first_name {
    width: 658px;
    height: 74px;
    display: flex;
    justify-content: space-between;
}

.section8_title_list_first_name_list {
    width: 302px;
    height: 58px;
}

.section8_title_list_date {
    width: 658px;
    height: 74px;
    display: flex;
    justify-content: space-between;
}

.section8_title_list_date_list {
    width: 193px;
    height: 58px;
}

.section8_title_list_massage {
    width: 658px;
    height: 69px;
    display: flex;
    justify-content: space-between;
}

.section8_title_list_massage_list {
    width: 302px;
    height: 53px;
}